@font-face
{
	font-family: fontastique;
	src: url(../font/fontastique.ttf);
}

@font-face
{
	font-family: Century Gothic;
	src: url(../font/centurygothic.ttf);
}

@font-face
{
	font-family: Eurostile;
	src: url(../font/Eurostile.ttf);
}